*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: #f7f7f7;
}

.form-login{

    position: relative;
	max-width: 350px;
	width: 100%;
    margin: auto;
    margin-top:5%; 
    border: solid 1px #D6D4D4;
    background: white;

}

input{
  width: 50%;
  padding: 10px 30px;
  margin: 5% auto;
  display: block;
  border-radius: 3px;
  border: 1px solid darkgray;
  justify-content: space-between;
}

.anchor{
	width: 50%;
	padding: 10px 30px;
	margin: 5% auto;
	display: block;
	border-radius: 3px;
	border: 1px solid darkgray;
    background-color: rgba(211, 211, 211, 0.473);
	justify-content: space-between;
	text-align: center;
  
  }
.login{
	position: absolute;
	border-radius: 50%;
	left: 30%;
}

.logo{
	width: 200px;
	height: 200px;
   padding-top: 15px;
	margin: 0 auto;
	display: block;

}
.logomin{
	width: 31px;
	height: 31px;
   padding-top: 1px;
	margin: 0 auto;
	display: block;

}

.input-log{
	
}

.btn-log{
  cursor: pointer;

}
h4{
		color:black;
		text-align: center;
		padding: 3px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		margin: 0 auto;
}
.form-titulo{
	background:  #333;
	   box-shadow: 0px 4px 3px rgba(0,0,0,.5);
	color: 	#fff;
	text-align: center;
	padding: 20px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin: 0 auto;
	/*border-bottom:  5px solid crimson;*/

}
