*{
	box-sizing: border-box;
}
 .logo{
 	float: left;
 	height: 70px;
 	position: relative;
 	padding: 5px;
 	
 }


body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f7f7f7;
}


.form-registrar{

	max-width: 500px;
	width: 95%;
	margin: auto;
	background: white;
	border-radius: 7px;
	border-bottom:  1px solid #D6D4D4;
	border-left:   1px solid #D6D4D4;
	border-right:   1px solid #D6D4D4;

}
.form-titulo{
	background:  #333;
	   box-shadow: 0px 4px 3px rgba(0,0,0,.5);
	color: 	#fff;
	text-align: center;
	padding: 20px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	/*border-bottom:  5px solid crimson;*/

}

.div-registro{
	padding: 10px 30px;
	display: flex;
	flex-wrap:  wrap;
	justify-content: space-between;

}
input{
	margin-bottom: 15px;
	padding: 15px ;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input-50 {
 width: 48%;
}


.input-100{
 width: 100%;
}

.btn-enviar{
	cursor: pointer;
	font-size: 15px;
}
